Software Engineering Trends.json
{
  "name": "Software Engineering Trends",
  "nodes": [
    {
      "parameters": {
        "sendTo": "bouzidkobchi1096@gmail.com",
        "subject": "Hello Bouzid",
        "message": "={{ $json.htmlContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1136,
        0
      ],
      "id": "c975e22e-cfd9-462e-bc78-5d2dac6544d2",
      "name": "Send a message",
      "webhookId": "21e9b781-d3f8-451b-9205-fec75aae5504",
      "credentials": {
        "gmailOAuth2": {
          "id": "9wZL4fyMigksjePj",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use the search tool to find the Software Engineering trends and summarize them in a few paragraphs highliting the important terms in bold.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "ef71eb1a-377b-4b8b-82c1-7f816c62f056",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "11c8566f-d0e0-400e-a697-f6fe1186afff",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "C99L83XK7ZUC3xm2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "simpleSessionID"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        208
      ],
      "id": "7af5d3a9-7e78-4833-a66e-82ef6f406fdb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "destinationKey": "=htmlContent",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "7f272f9d-64c1-46fc-81af-f0e5e194df80",
      "name": "Markdown"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        0
      ],
      "id": "9f43aac5-69e5-4d10-b08f-f91275ff64ae",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"q\": \"Software Engineering Trends\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        400,
        224
      ],
      "id": "bc78ee33-d536-4c72-84d4-5f6a9b92a1a1",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NBCUdFTxSjBnIUCI",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=add css to beatify the content and make it more readable  {{ $json.htmlContent }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "277edbf9-c861-47ec-bb9e-71681996c7c1",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "C99L83XK7ZUC3xm2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eaaf64f9-e764-41d6-8b8d-6acdd5f4dff7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc62d3281a27171c55777e047e0b8b1361fc5eb8eff0ca134ee9f8dcfb7ef067"
  },
  "id": "rPp33X6DmzKNpDGm",
  "tags": []
}